@tailwind base;
@tailwind components;
@tailwind utilities;

a{
  text-decoration: none !important;

}

body{
  background-color: #180d27;
  color: white;
  width: 100%;
  
  
}
li{
  margin-left: 20px;
}
.nav-home:active{
  color: white !important;
}
